<div class="market-container">
    <div class="cont">
        <app-navbar></app-navbar>
    </div>
    <div class="page-texts">
        <p class="mrkt">market place</p>
        <p class="place">Buy carbon credits</p>
        <div class="procedure-card">
            <div class="details">
                 <h2>1. Request access</h2>
                <p><a href=""><span>Request access</span></a> to see prices, availability, and the quality assessments for all projects</p>
            </div>
            <i class="fa-solid fa-arrow-right-long"></i>
            <div class="details">
                <h2>2. Choose your portfolio</h2>
                <p>Choose credts from our pre-built portfolios or create your custom portfolio of projects.</p>
            </div>
            <i class="fa-solid fa-arrow-right-long"></i>
            <div class="details">
                <h2>3. Submit portfolio</h2>
                <p>Submit request to purchase your selection of carbon credits</p>
            </div>
        </div>
    </div>
    
</div>
<div class="footer">
    <app-footer></app-footer>
</div>
