<div class="market-container">
    <div class="cont">
        <app-navbar></app-navbar>
    </div>
    <div class="page-texts">
        <p class="mrkt">market place</p>
        <p class="place">Buy carbon credits</p>
        <div class="procedure-card">
            <div class="Details">
                 <h2>1. Request access</h2>
                <p><a href=""><span>Request access</span></a> to see prices, availability, and the quality assessments for all projects</p>
            </div>
            <i class="fa-solid fa-arrow-right-long"></i>
            <div class="Details">
                <h2>2. Choose your portfolio</h2>
                <p>Choose credts from our pre-built portfolios or create your custom portfolio of projects.</p>
            </div>
            <i class="fa-solid fa-arrow-right-long"></i>
            <div class="Details">
                <h2>3. Submit portfolio</h2>
                <p>Submit request to purchase your selection of carbon credits</p>
            </div>
        </div>
        <div class="carbon-projects">
            <h1>Carbon projects</h1>
            <p>Hand pick the carbon projects you want to support and create your bespoke portfolio.</p>
            <h2>Sort by: <a href=""><span>Project name A-Z</span></a>  <i class="fa-solid fa-chevron-down"></i></h2>
            <div class="all-lists">
                <p class="p">All locations <i class="fa-solid fa-chevron-down"></i></p>
                <p class="p">All project types <i class="fa-solid fa-chevron-down"></i></p>
                <p class="p">All impact files <i class="fa-solid fa-chevron-down"></i></p>
                <p class="p">All co-benefits <i class="fa-solid fa-chevron-down"></i></p>
                <p class="p">All verification datess <i class="fa-solid fa-chevron-down"></i></p>
            </div>
            <div class="carbon-project-list">
               <div class="list">
                <div class="one">
                    <div class="image">
                        <img src="https://img.freepik.com/free-photo/landscape-hills-covered-greenery-surrounded-by-sea-cloudy-sky-during-sunset_181624-15256.jpg?w=900&t=st=1679334511~exp=1679335111~hmac=e070a522398e7dbd807d7f5aaa918fc169bf62e14109313a32447b1848d8d525" alt="forest">
                    </div>
                    <div class="details">
                        <p class="project">Kasigau Corridor || REDD+ Forest Conversation</p>
                        <p class="icon">Carbon avoidance</p>
                        <p class="location"><i class="fa-solid fa-location-dot"></i> Kenya</p>
                        <p class="type"><i class="fa-solid fa-gear"></i> Forest conservation and restoration (REDD+)</p>
                        <h4 class="href"><a href="#">View details</a></h4>
                    </div>
                </div>
                <div class="one">
                    <div class="image">
                        <img src="https://img.freepik.com/free-photo/landscape-hills-covered-greenery-surrounded-by-sea-cloudy-sky-during-sunset_181624-15256.jpg?w=900&t=st=1679334511~exp=1679335111~hmac=e070a522398e7dbd807d7f5aaa918fc169bf62e14109313a32447b1848d8d525" alt="forest">
                    </div>
                    <div class="details">
                        <p class="project">Kasigau Corridor || REDD+ Forest Conversation</p>
                        <p class="icon">Carbon avoidance</p>
                        <p class="location"><i class="fa-solid fa-location-dot"></i> Kenya</p>
                        <p class="type"><i class="fa-solid fa-gear"></i> Forest conservation and restoration (REDD+)</p>
                        <h4 class="href"><a href="#">View details</a></h4>
                    </div>
                </div>
                <div class="one">
                    <div class="image">
                        <img src="https://img.freepik.com/free-photo/landscape-hills-covered-greenery-surrounded-by-sea-cloudy-sky-during-sunset_181624-15256.jpg?w=900&t=st=1679334511~exp=1679335111~hmac=e070a522398e7dbd807d7f5aaa918fc169bf62e14109313a32447b1848d8d525" alt="forest">
                    </div>
                    <div class="details">
                        <p class="project">Kasigau Corridor || REDD+ Forest Conversation</p>
                        <p class="icon">Carbon avoidance</p>
                        <p class="location"><i class="fa-solid fa-location-dot"></i> Kenya</p>
                        <p class="type"><i class="fa-solid fa-gear"></i> Forest conservation and restoration (REDD+)</p>
                        <h4 class="href"><a href="#">View details</a></h4>
                    </div>
                </div>
                <div class="one">
                    <div class="image">
                        <img src="https://img.freepik.com/free-photo/landscape-hills-covered-greenery-surrounded-by-sea-cloudy-sky-during-sunset_181624-15256.jpg?w=900&t=st=1679334511~exp=1679335111~hmac=e070a522398e7dbd807d7f5aaa918fc169bf62e14109313a32447b1848d8d525" alt="forest">
                    </div>
                    <div class="details">
                        <p class="project">Kasigau Corridor || REDD+ Forest Conversation</p>
                        <p class="icon">Carbon avoidance</p>
                        <p class="location"><i class="fa-solid fa-location-dot"></i> Kenya</p>
                        <p class="type"><i class="fa-solid fa-gear"></i> Forest conservation and restoration (REDD+)</p>
                        <h4 class="href"><a href="#">View details</a></h4>
                    </div>
                </div>
               </div>
               <div class="sign-up">
                <div class="card-1">
                    <p class="hr-p"><a href="#"><i class="fa-solid fa-plus"></i> Add your carbon project here</a></p>
                    <p class="h3">Promote your carbon offset project, find buyers, find mitigators, find investores!</p>
                </div>
                <div class="card-2">
                    <p class="hr-p"><a href="#"><i class="fa-solid fa-handshake"></i> Patner with carbon projects</a></p>
                    <p class="h3">Interact directly with offsetters and be part of the project</p>
                </div>
                <div class="card-3">
                    <p class="hr-p"><a href="#"><i class="fa-solid fa-rocket"></i> Create your Offsetting project</a></p>
                    <p class="h3">Create your offsetting project with us through our team of experts</p>
                </div>
            </div>
            </div>
        </div>
    </div>
    
</div>
<div class="footer">
    <app-footer></app-footer>
</div>
