.back{
    font-size: 20px;
    margin: 2% 0 0 1%;
}
.back a{
    text-decoration: none;
    color: #9acd32;
}
.back a:hover{
    color: #000;
}
.title p{
    font-size: 50px;
    font-weight: bolder;
}
.title .project{
    font-size: 25px;
    font-weight: 400;
}
.det{
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
}
.profile{
    width: 26%;
    background-color: #1142114d;
    border-radius: 10px;
}
.profile .profile-p{
    padding-top: 20px;
    padding-left: 20px;
    text-align: start;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 500;
}
.profile .country{
    padding-top: 12px;
    padding-left: 20px;
    text-align: start;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
}
.profile .verify{
    padding-top: 12px;
    padding-left: 20px;
    text-align: start;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
}
.profile h5{
    padding-top: 12px;
    padding-left: 20px;
    text-align: start;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 700;
}
.profile h4{
    padding-top: 40px;
    padding-left: 20px;
    text-align: start;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
}
.methodology{
    width: 65%;
    background-color: #1142114d;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.methodology p{
    font-size: 20px;
    font-weight: 700;
    margin-left: 7%;
    margin-top: 8%;
    height: fit-content;

}
.sign-in{
    width: 40%;
    background-color: #1142114d;
    border-radius: 10px;
    height: 20%;
}
.sign-in p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 4%;
    margin-left: 13%;
}
.sign-in h4{
    text-align: start;
    font-size: 18px;
    font-weight: 500;
    margin: 8%;
}
.button-sign-in{
    background-color: #114211;
    margin: 4%;
    border-radius: 10px;
    text-align: center;
    margin-left: 9%;
    width: 80%;
}
.button-sign-in a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px;
    color: #fff;
    padding: 20px;
}
.button-sign-in a:hover{
    color: rgb(8, 161, 8);
}
.meth{
    background-color: rgba(194, 241, 211, 0.5);
    margin: 5%;
    border-radius: 20px;
    height: 83%;
}
.meth img{
    height: 14vh;
    border-radius: 10px;
    margin-left: 150px;
}
.methodology .meth p{
    font-size: 15px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.about-projo{
    display: flex;
    flex-direction: row;
    background-color: #070720;
    border-radius: 10px;
    margin-top: 5%;
    width: 69%;
}
.proj-det h4{
 margin-top: 4%;
 color: yellowgreen;
 margin-left: 4%;
}
.proj-det p{
    text-align: start;
    margin-left: 4%;
    color: #fff;
    width: 90%;
}
.youtube-vids img{
    height: 300px;
    width: 400px;
    border-radius: 30px;
    padding: 10%;
    padding-right: 20%;
}
.to-date{
    margin-top: 5%;
    font-size: 20px;
    font-weight: 500;
    margin-left: 2%;
}
.impact-date{
    display: flex;
    flex-direction: row;
    background-color: #1142114d;
    width: 69%;
    border-radius: 10px;
    gap: 2px;
}
.one h5{
    margin-left: 20%;
    font-size: 25px;
}
.one p{
    margin-left: 20%;
    font-size: 16px;
    font-weight: 600;
}
.sustainable-goals{
    width: 69%;
}
.sustainable-goals h3{
    font-size: 25px;
    font-weight: 900;
    margin: 2%;
}
.sustainable-goals p{
    font-size: 20px;
    font-weight: 500;
    margin: 2%;
}
.sdgs img{
    margin: 1%;
    border-radius: 5px;
    width: 200px;
}