<header>
    <div class="container-full">

      <div class="logo">
        <img src="../../../assets/images/Home-images/CK_demologo_cropped.jpg">
      </div>

      <div class="flexa">
        <div class="menu-icon" [class.menu-icon-Class]="menu_icon_var" (click)="openMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
     
        <div class="menu" [class.menuClass]="menuVar">
          <ul>
            <li><a class="nav-link active" routerLink="/home" routerLinkActive="active-link" ariaCurrentWhenActive="page">Home</a></li>
            <li class="li"><a class="nav-link" routerLink="/experience" routerLinkActive="active-link" ariaCurrentWhenActive="page">Product</a></li>
            <li class="li dropdown">
              <a class="nav-link" role="button" id="companyDropdown" data-bs-toggle="dropdown" aria-expanded="false">Company <i class="fa-solid fa-caret-down"></i></a>
              <ul class="dropdown-menu" aria-labelledby="companyDropdown">
                <li><a class="dropdown-item" routerLink="/about" routerLinkActive="active-link" ariaCurrentWhenActive="page">About Us</a></li>
                <li><a class="dropdown-item" href="#">News</a></li>
                <li><a class="dropdown-item" href="#">Careers</a></li>
              </ul>
            </li>
            <li class="li"><a class="nav-link" routerLink="/market-place" routerLinkActive="active-link" ariaCurrentWhenActive="page">Buy Credits</a></li>
          </ul>
        </div>
        
  
        </div>
        <div class="contact">
          <button class="btn-1"> Contact Us</button>
        </div>
    </div>
  </header>
