<header>
    <div class="container-full">

      <div class="nav-logo one">
        <a class="logo" routerLink="/home">Rafiki<span>Africa</span></a> <br>
        <a class="logg" routerLink="/home">Carbon Market</a>
      </div>

      <div class="flexa">
        <div class="menu-icon" [class.menu-icon-Class]="menu_icon_var" (click)="openMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
     
        <div class="menu" [class.menuClass]="menuVar">
          <ul>
            <li class="li"><a class="nav-link active" routerLink="/home" routerLinkActive="active-link" ariaCurrentWhenActive="page">Home</a></li>
            <li class="li"><a class="nav-link" routerLink="/experience" routerLinkActive="active-link" ariaCurrentWhenActive="page">Product</a></li>
            <li class="li"><a class="nav-link" routerLink="/about" routerLinkActive="active-link" ariaCurrentWhenActive="page">Company</a></li>
            <li class="li"><a class="nav-link" routerLink="/market-place" routerLinkActive="active-link" ariaCurrentWhenActive="page">Buy Credits</a></li>
          </ul>

          <div class="contact three">
            <button class="btn-1"> Make an Enquiry</button>
          </div>
        </div>
   
        </div>
        <div class="contact four">
          <button class="btn-1"> Make an Enquiry</button>
        </div>
    </div>
  </header>
