header{
    padding-bottom: 20px;
    margin:0;
    background: rgb(7, 7, 32);
  }
  
  .container-full{
    padding: 0 0;
    margin: 0;
    min-width: 100%;
    display: flex;
    width: 100%;
    
  }

  .flexa{
    width: 50%;
    margin-top: 5px;
  }

  .logos{
    width: 25%;
    display: flex;
    padding-left: 2%;
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .img img{
    width: 5vw;
  }

  .nav-logo {
    width: 20vw;
    margin-top: 5%;
    margin-left: 1%;
  }
  .nav-logo .logo {
      font-size: 28px;
      font-weight: 800;
      font-family: 'add light';
      letter-spacing: 1.16px;
      font-style: italic;
      color: yellowgreen;
      text-decoration: none;
      font-weight: 600;
  }
  .nav-logo .logo span{
      font-size: 28px;
      font-weight: 800;
      font-family: 'add light';
      letter-spacing: 1.16px;
      font-style: italic;
      color: #d9ede6;
      text-decoration: none;
  }

  .menu{
    margin-top: 3%;
    padding: 20px 5%;
    justify-content: space-around;
    background:transparent;
  }

  .three{
    display: none;
  }
  
  .menu ul{
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .menu ul li{
    list-style-type: none;
    font-size: 15px;
    color: white;
    line-height: 18px;
    letter-spacing: normal; 
  }
  
  .li{
    margin-left: 5%;
  }
  
  .menu ul li:hover{
    cursor: pointer;
    transition: .5s ease-in-out;
  }
  
  .nav-link{
    color: #fff; 
    text-decoration: none;
    font-size: 18px;
    padding: 8px 10px;
    line-height: 18px;
    text-align: left;
    transition: color .25s;
    font-style: Roobert-Medium, Helvetica, Verdana, sans-serif;
    }
  
  .nav-link:hover {
    color: yellowgreen;
    cursor: pointer;
    transition: .5s ease-in-out;
    transition: color .25s;
  }
  
  .active-link{
    color: yellowgreen;
  }

  .contact{
    margin-right: 5%;
    margin-top: 3.5%;;
    width: 25%;
  }

  .contact button{
    float: right;
    border: none;
  }

  .btn-1{
    text-align: center;
    padding: 10px 50px;
    border-radius: 10px;
    background-color: rgb(173, 255, 47);
    color: #000;
    font-size: 20px;
    text-decoration: none;
  }

  @media only screen and (max-width: 850px) {
  
    header{
      padding: 8px 0;
    }

    .container-full{
      background:  rgb(7, 7, 32);
      width: 100%;
      height: 8vh;
    }

    .nav-logo {
      width: 40%;
      margin-top: 9%;
      margin-left: 2%;
      padding: 0 0;
    }
    .nav-logo .logo {
        font-size: 20px;
        font-weight: 800;
        font-family: 'add light';
        letter-spacing: 1.16px;
        font-style: italic;
        color: yellowgreen;
        text-decoration: none;
        font-weight: 600;
    }
    .nav-logo .logo span{
        font-size: 20px;
        font-weight: 800;
        font-family: 'add light';
        letter-spacing: 1.16px;
        font-style: italic;
        color: #d9ede6;
        text-decoration: none;
    }
  
    .img{
      margin-top: -5%;
    }
    
    .img img{
      width: 10vw;
      height: 8vh;
    }

    .four{
      display: none;
    }

    .three{
      display: contents;;
    }

    .five{
      display: contents;
    }
  
    .menu{
      display: block;
      position: fixed;
      right: -100%;
      top: 44px;
      width: 280px;
      height: auto;
      padding: 20% 0;
      background:  rgb(7, 7, 32);
      transition: .4s ease-in-out;
      z-index: 999;
      overflow-x: hidden !important;
    }

    .menu ul{
      display: block;
    }
  
    .menu ul li{
      display: block;
      text-align: center;
      color: #222;
      margin: 0;
      padding: 20px 26px ;
    }
  
    .nav-link{
      color: #fff;
      text-transform: uppercase;
    }
  
    .menu-icon{
      display: inline-block;
      position: relative;
      top: 10px;
      left: 80%;
    }
  
    .menu-icon span{
      width: 42px;
      height: 4px;
      margin-top: 5px;
      background: #fff !important;
      display: block;
      transition: .2s ease-in-out;
    }
  
    .menu-icon span:nth-child(2){
      margin: 4px 0;
    }
  
    .menu-icon-Class span:nth-child(2){
      display: none;
    }
  
    .menu-icon-Class span:nth-child(1){
      transform: rotate(45deg);
    }
  
    .menu-icon-Class span:nth-child(3){
      transform: rotate(-45deg);
      margin-top: -3px;
    }
  
    .menuClass{
      right: 0;
      transition: .4s ease-in-out;
    }

    .contact{
      margin-right: 20%;
      margin-left: 50%;
      margin-top: 30px;
      width: 25%;
    }
  
    .contact button{
      float: left;
      border: none;
    }

    .btn-1{
      text-align: center;
      padding: 10px 30px;
      border-radius: none !important;
      background-color: transparent;
      color: #fff;
      font-size: 20px;
      text-transform: capitalize;
      font-family: 'Times New Roman', Times, serif;
    }
  }
  
  @media only screen and (max-width: 500px) {
  
    header{
      padding: 0 0;
      background-color: transparent;
    }
  
    .container-full{
      background:  rgb(7, 7, 32);
      width: 100%;
      height: 8vh;
      /* padding: 20px 0; */
    }

    .nav-logo {
      width: 40%;
      margin-top: -3%;
      margin-left: 2%;
      padding: 0 0;
    }

    .nav-logo .logo {
        font-size: 20px;
        font-weight: 800;
        font-family: 'add light';
        letter-spacing: 1.16px;
        font-style: italic;
        color: yellowgreen;
        text-decoration: none;
        font-weight: 600;
    }
    .nav-logo .logo span{
        font-size: 20px;
        font-weight: 800;
        font-family: 'add light';
        letter-spacing: 1.16px;
        font-style: italic;
        color: #d9ede6;
        text-decoration: none;
    }
  
    .img{
      margin-top: -15%;
    }
    
    .img img{
      width: 15vw;
      height: 10vh;
    }

    .four{
      display: none;
    }

    .three{
      display: contents;;
    }

    .five{
      display: contents;
    }
  
    .menu{
      display: block;
      position: fixed;
      right: -100%;
      top: 50px;
      width: 280px;
      height: auto;
      background: rgb(7, 7, 32);
      transition: .4s ease-in-out;
      z-index: 999;
      overflow-x: none;
    }

    .menu ul{
      display: block;
    }
  
    .menu ul li{
      display: block;
      text-align: center;
      margin: 0;
      padding: 20px 26px ;
    }
  
    .nav-link{
      color: #fff;
      text-transform: capitalize;
      font-family: 'Times New Roman', Times, serif;
    }
  
    .menu-icon{
      display: inline-block;
      position: relative;
      top: 10px;
      left: 70%;
    }
  
    .menu-icon span{
      width: 35px;
      height: 4px;
      margin-top: 5px;
      background: #fff !important;
      display: block;
      transition: .2s ease-in-out;
    }
  
    .menu-icon span:nth-child(2){
      margin: 4px 0;
    }
  
    .menu-icon-Class span:nth-child(2){
      display: none;
    }
  
    .menu-icon-Class span:nth-child(1){
      transform: rotate(45deg);
    }
  
    .menu-icon-Class span:nth-child(3){
      transform: rotate(-45deg);
      margin-top: -3px;
    }
  
    .menuClass{
      right: 0;
      transition: .4s ease-in-out;
    }

    .contact{
      margin: 80px 26px;
      width: 25%;
    }
  
    .contact button{
      float: left;
      border: none;
    }

    .btn-1{
      text-align: center;
      padding: 10px 30px;
      border-radius: none !important;
      background-color: transparent;
      color: #fff;
      font-size: 20px;
      text-transform: capitalize;
      font-family: 'Times New Roman', Times, serif;
    }
    
  }