<header>
    <div class="container-full">

      <div class="logo">
        <img src="../../../assets/images/Home-images/CK_demologo_cropped.jpg">
      </div>

      <div class="flexa">
        <div class="menu-icon" [class.menu-icon-Class]="menu_icon_var" (click)="openMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
     
          <div class="menu" [class.menuClass]="menuVar">
            <ul>
              <li><a class="nav-link active" routerLink="/home" routerLinkActive="active-link" ariaCurrentWhenActive="page">Home</a></li>
              <li class="li"><a class="nav-link" routerLink="/experience" routerLinkActive="active-link" ariaCurrentWhenActive="page">Product</a></li>
              <li class="li"><a class="nav-link" routerLink="/about" routerLinkActive="active-link" ariaCurrentWhenActive="page">Company</a></li>
              <li class="li"><a class="nav-link" routerLink="/market-place" routerLinkActive="active-link" ariaCurrentWhenActive="page">Buy Credits</a></li>
            </ul>
          </div>
        </div>

        <div class="contact">
          <button class="btn-1"> Contact Us</button>
        </div>
    </div>
  </header>
