<div class="container-full">
    <app-navbar></app-navbar>
    <div class="top-banner">
        <div class="bg">
            <p class="text-center p-one">About Carbon Kenya</p>
            <p class="text-center p-two">We're on a mission to scale the carbon removal industry and ultimately reverse climate change.</p>
        </div>
    </div>
    <div class="mission">
        <p class="miss-head text-center">Our Mission</p>
        <p class="miss-desc text-center">We all understand the threat that climate change presents. Our warming atmosphere puts us on a collision course with extreme weather, food shortages, mass extinction, and social unrest. We’ve already emitted more carbon than is safe, and we’re not reducing fast enough. The threat is real, it will affect everyone, and we’re almost out of time.</p>
    </div>
    <div class="value">
        <p class="h-values">Our Values</p>
        <div class="values">
            <div class="val">
                <img src="https://cdn-icons-png.flaticon.com/512/758/758784.png" alt="">
                <p class="val-head">Transparency by default</p>
                <p class="val-desc">Transparency is our default way of operating, both internally and externally. We have to make an argument for something to be confidential, rather than the opposite.</p>
            </div>
            <div class="val">
                <img src="https://cdn-icons-png.flaticon.com/512/758/758784.png" alt="">
                <p class="val-head">Transparency by default</p>
                <p class="val-desc">Transparency is our default way of operating, both internally and externally. We have to make an argument for something to be confidential, rather than the opposite.</p>
            </div>
            <div class="val">
                <img src="https://cdn-icons-png.flaticon.com/512/758/758784.png" alt="">
                <p class="val-head">Transparency by default</p>
                <p class="val-desc">Transparency is our default way of operating, both internally and externally. We have to make an argument for something to be confidential, rather than the opposite.</p>
            </div>
            <div class="val">
                <img src="https://cdn-icons-png.flaticon.com/512/758/758784.png" alt="">
                <p class="val-head">Transparency by default</p>
                <p class="val-desc">Transparency is our default way of operating, both internally and externally. We have to make an argument for something to be confidential, rather than the opposite.</p>
            </div>
            <div class="val">
                <img src="https://cdn-icons-png.flaticon.com/512/758/758784.png" alt="">
                <p class="val-head">Transparency by default</p>
                <p class="val-desc">Transparency is our default way of operating, both internally and externally. We have to make an argument for something to be confidential, rather than the opposite.</p>
            </div>
            <div class="val">
                <img src="https://cdn-icons-png.flaticon.com/512/758/758784.png" alt="">
                <p class="val-head">Transparency by default</p>
                <p class="val-desc">Transparency is our default way of operating, both internally and externally. We have to make an argument for something to be confidential, rather than the opposite.</p>
            </div>
        </div>
    </div>
    <p class="team-head">Meet Our Team</p>
    <div class="team">
         <div class="nesh">
            <img src="https://img.freepik.com/free-photo/portrait-happy-man_23-2148780083.jpg?w=740&t=st=1679476685~exp=1679477285~hmac=5cd4d1ff4cca4f8770ffef7db257a928c402ae38e2841a6acab94614239d607d" alt="">
           <h2>Munene Brian</h2> 
           <h3>CEO & Co-Founder</h3>
           <h4><i class="fa-sharp fa-solid fa-link"></i>LinkedIn</h4>
         </div>
         <div class="nesh">
            <img src="https://img.freepik.com/free-photo/portrait-happy-man_23-2148780083.jpg?w=740&t=st=1679476685~exp=1679477285~hmac=5cd4d1ff4cca4f8770ffef7db257a928c402ae38e2841a6acab94614239d607d" alt="">
            <h2>Job Karani</h2> 
            <h3>CTO & Co-Founder</h3>
            <h4><i class="fa-sharp fa-solid fa-link"></i>LinkedIn</h4>
         </div>
    </div>
    <div class="all">
        <h2>Our Investors</h2>
        <div class="images">
            <img src="https://img.freepik.com/free-vector/creative-square-logo-vector-template_460848-13896.jpg?w=740&t=st=1679234139~exp=1679234739~hmac=d7e2806d5bbe158d4568bda1bdfbe591614a071ef789c209b472e2e353db31f8" alt="">
            <img src="https://img.freepik.com/free-vector/connection-vector-logo-template_460848-8076.jpg?w=740&t=st=1679234119~exp=1679234719~hmac=bc07d5d1550efeb39a6b9f03195a15b599371bc7675b4507f03252cc2d0c56be" alt="">
            <img src="https://img.freepik.com/free-vector/branding-identity-corporate-vector-abstract-s-logo-design_460848-13703.jpg?w=740&t=st=1679234184~exp=1679234784~hmac=661e98403a7e12e6d283e67a6b35937b6b070953325ac61440c0b14009c4f093" alt="">
            <img src="https://img.freepik.com/free-vector/letter-s-logo-negative-space-style-corporate-business-emblem-logotype_126523-2780.jpg?w=826&t=st=1679234231~exp=1679234831~hmac=dc24951d78664d87b9427005fb3e057920f5cd8e3025b42a1f61521352ee17d9" alt="">
            <img src="https://img.freepik.com/free-vector/elegant-circle-logo-icon_126523-971.jpg?w=826&t=st=1679234270~exp=1679234870~hmac=1d1e1f2356f1622116ef6808bea217d0d2f4916cc7f3d96559992d595c902454" alt="">
        </div>
    </div>
    <app-footer></app-footer>
</div>