<div class="container-full">
    <app-navbar></app-navbar>
    <div class="top-banner">
        <div class="bg">
            <p class="text-center p-one">About RafikiAfrica</p>
            <p class="text-center p-two">Promotion of quality, equity, and marketing of differentiated African carbon credits to both African and global buyers across African markets.</p>
        </div>
    </div>
    <div class="mission">
        <p class="miss-head text-center">Our Mission</p>
        <p class="miss-desc text-center">To provide access to both offsetters and emitters and achieve carbon neutrality. We are committed to helping our clients take a proactive approach to reducing their carbon footprint and making a positive impact on the environment.</p>
    </div>
    <div class="value">
        <p class="h-values">Our Values</p>
        <div class="values">
            <div class="val">
                <img src="https://cdn-icons-png.flaticon.com/512/5165/5165915.png" alt="">
                <p class="val-head">Transparency by default</p>
                <p class="val-desc">We believe in providing clear and accurate information to our clients to help them make informed decisions. </p>
            </div>
            <div class="val">
                <img src="https://cdn-icons-png.flaticon.com/512/9897/9897161.png" alt="">
                <p class="val-head">Collaboration and partnership</p>
                <p class="val-desc">We believe in working closely with our clients to develop customized solutions that meet their unique needs and goals.</p>
            </div>
            <div class="val">
                <img src="https://cdn-icons-png.flaticon.com/512/10122/10122827.png" alt="">
                <p class="val-head">Innovation</p>
                <p class="val-desc">We are constantly seeking new and innovative ways to reduce carbon emissions and promote sustainable practices.</p>
            </div>
        </div>
    </div>
    <p class="team-head">Meet Our Team</p>
    <div class="team">
         <div class="nesh">
            <img src="https://img.freepik.com/free-photo/portrait-happy-man_23-2148780083.jpg?w=740&t=st=1679476685~exp=1679477285~hmac=5cd4d1ff4cca4f8770ffef7db257a928c402ae38e2841a6acab94614239d607d" alt="">
           <h2>Munene Brian</h2> 
           <h3>CEO & Co-Founder</h3>
           <a href="https://www.linkedin.com/in/brian-munene-njeru" target="_blank"><i class="fa-sharp fa-solid fa-link"></i>LinkedIn</a>
         </div>
         <div class="nesh">
            <img src="https://img.freepik.com/free-photo/portrait-happy-man_23-2148780083.jpg?w=740&t=st=1679476685~exp=1679477285~hmac=5cd4d1ff4cca4f8770ffef7db257a928c402ae38e2841a6acab94614239d607d" alt="">
            <h2>Job Karani</h2> 
            <h3>CTO & Co-Founder</h3>
            <a href="https://www.linkedin.com/in/job-nyambura/" target="_blank"><i class="fa-sharp fa-solid fa-link"></i>LinkedIn</a>
         </div>
    </div>
    <div class="all">
        <h2>Our Partners</h2>
        <div class="images">
            <img src="https://www.jacobsladder.africa/img/logo.png" alt="">
        </div>
    </div>
    <app-footer></app-footer>
</div>