.top-banner{
    background-image: url("https://img.freepik.com/premium-photo/3d-rendering-high-speed-traveling-technology-wind-turbines-forest-landscape_533392-372.jpg?w=826");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}

.bg{
    background: rgb(7, 7, 32, .6);
    height: 70vh;
    padding: 15% 0;
}

.p-one{
    color: yellowgreen;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 2px;
}

.p-two{
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    padding: 0 20%;
    letter-spacing: 2px;
}

.mission{
    padding: 2% 8%;
}

.miss-head{
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 2px;
}

.miss-desc{
    font-size: 22px;
    letter-spacing: 1px;
}

.value{
    padding: 2% 8%;
    background: linear-gradient(127deg, rgb(7, 7, 32)40%, rgb(173, 255, 47)100%);
}

.h-values{
    font-size: 34px;
    font-weight: 700;
    color: yellowgreen;
    padding: 2% 0;
}

.values{
    padding-bottom: 20px;
    display: flex;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (400px);
    grid-template-columns: repeat(3, 400px);
    grid-gap: 30px;
}

.val{
    margin: 2% 0;
}

.val img{
    width: 10%;
    align-items: left;
}

.val-head{
    font-size: 26px;
    font-weight: 600;
    color: yellowgreen;
    margin-top: 5%;
    text-transform: capitalize;
}

.val-desc{
    font-size: 22px;
    color: #fff;
}

.team{
    padding: 2% 10%;
    display: flex;
}

.team-head{
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 100px;
    color: rgb(17, 66, 17);
}
.team{
    text-align: center;
    margin: 0 17%;
    gap: 80px;
}
.nesh img{
    height: 42vh;
    width: 20vw;
}
.nesh h3{
    color: grey;
}

.nesh a{
    color: yellowgreen;
    text-decoration: underline;
    font-size: 16px;
}

.all{
    margin: 5% 2%;
}
.all h2{
    text-align: center;
    color: rgb(17, 66, 17);
}
.images{
    display: flex;
    margin-top: 2%;
    margin-right: 15%;
}
.images img{
    width: 15vw;
    height: 20vh;
}

.images img:hover{
    border: 1px solid gray;
    transition: 2s ease-in-out;
    transition: color .25s;
}
@media only screen and (max-width: 850px) {
    .container-full {
      padding: 0 0;
    }
    .top-banner {
      height: 30vh;
    }
    .p-one {
      font-size: 24px;
    }
    .top-banner .bg{
        height: 30vh;
    }
    .p-one{
        font-size: 30px; 
    }
    .p-two {
      font-size: 20px;
        font-weight: 300;
        padding: 0 5%;
        letter-spacing: 2px;
    }
    .miss-desc {
      font-size: 24px;
      font-family: 'Times New Roman', Times, serif;
    }
    .values {
    padding: 2% 0;
      margin: 0 0;
      padding: 0 0;
      margin-bottom: 40px;
      align-items: center;
      width: 100% !important;
      display: flex;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (350px);
      grid-template-columns: repeat(2, 350px);
      justify-content: center;
      grid-gap: 25px;
    }
    .val{
        width: 100%;
        margin: 0 0 !important;
    }
    .team {
      flex-direction: column;
      align-items: center;
    }
    .nesh {
      margin-bottom: 20px;
      text-align: center;
    }
    .nesh img {
        height: 38vh;
        width: 42vw;
    }
    .nesh h2 {
        padding-top: 10px;
      font-size: 28px;
    }
    .nesh h3 {
      font-size: 20px;
    }
    .nesh h4 {
      font-size: 16px;
    }
    .images{
        width: 100% !important;
        display: flex;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (350px);
        grid-template-columns: repeat(2, 350px);
        justify-content: center;
        grid-gap: 25px;
    }
    .images img{
        width: 35vw;
        height: 20vh;
    }
    .all h2{
        padding-bottom: 10px;
    }
  }
  @media only screen and (max-width: 500px) {
    .top-banner {
        height: 50vh;
    }
    .top-banner .bg{
        height: 60vh;
        padding: 15% 0;
    }
    .p-one{
        margin-top: 0;
    }
    .top-banner {
        height: 40vh;
      }
      .top-banner .bg{
          height: 40vh;
      }
      .mission{
        padding: 15% 4%;
    }
    .value{
        padding: 15% 5%;
    }
    .values {
        margin-bottom: 40px;
        align-items: center;
        width: 100% !important;
        display: flex;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (300px);
        grid-template-columns: repeat(1, 300px);
        justify-content: center;
        grid-gap: 25px;
      }
      .h-values{
        text-align: center;
      }
      .team-head{
        font-size: 26px;
        font-weight: 700;
        padding-top: 30px;
    }

    .nesh h2{
        font-size: 28px;
        font-weight: 500;
    }

    .nesh h3{
        color: grey;
        font-size: 22px;
        font-weight: 700;
    }

    .nesh img {
        height: 30vh;
        width: 62vw;
    }
    .images{
        width: 70% !important;
        display: flex;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (350px);
        grid-template-columns: repeat(2, 120px);
        justify-content: center;
        grid-gap: 25px;
        margin-left: 5%;;
    }
    .all h2{
        padding-bottom: 26px;
        font-weight: 700;
    }

}

