<div class="container-full">
    <app-navbar></app-navbar>
    <div class="top-banner">
        <div class="bg">
            <p class="text-center p-one">About RafikiCarbon</p>
            <p class="text-center p-two">Promotion of quality, equity, and marketing of differentiated African carbon credits to both African and global carbon credit buyers.</p>
        </div>
    </div>
    <div class="mission">
        <p class="miss-head text-center">Our Mission</p>
        <p class="miss-desc text-center">To provide adequate and reliable market access to African project offsetters and emitters with purpose to achieve carbon neutrality. We are committed to helping our clients take a proactive approach to reducing their carbon footprint and making a positive impact on the environment especially from African projects!</p>
    </div>
    <div class="sustain">
        <p class="miss-head text-center">Sustainable Goals</p>
        <div class="goals">
            <img src="https://www.globalcompactkenya.org/sites/default/files/images/sdgs/E-WEB-Goal-01.png" alt="">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrVrQ5obe9EY7BAJ_pVvhleQ5cqQgRizZIwA&usqp=CAU" alt="">
            <img src="https://kenya.unsdsn.org/assets/images/sdgs/SDG9.png" alt="">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTImZtfKjTywOxghSWRdJQlQTidx7DcZUshrw&usqp=CAU" alt="">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTw_y99J3cnhBpb1pUZduYSx7O9igETOgtAtxrQPnUgYb-4mjDkohzxsuysgsnWHjFQr_w&usqp=CAU" alt="">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPMqtUpP47JM5UpxRnwGFfVb84pvoLNSnj_w&usqp=CAU" alt="">
            <img src="https://kenya.unsdsn.org/assets/images/sdgs/SDG17.png" alt="">
        </div>
    </div>
    <div class="value">
        <p class="h-values">Our Values</p>
        <div class="values">
            <div class="val">
                <img src="https://cdn-icons-png.flaticon.com/512/5165/5165915.png" alt="">
                <p class="val-head">Transparency by default</p>
                <p class="val-desc">We believe in providing clear and accurate information to our clients to help them make informed decisions. </p>
            </div>
            <div class="val">
                <img src="https://cdn-icons-png.flaticon.com/512/9897/9897161.png" alt="">
                <p class="val-head">Collaboration and partnership</p>
                <p class="val-desc">We believe in working closely with our clients to develop customized solutions that meet their unique needs and goals.</p>
            </div>
            <div class="val">
                <img src="https://cdn-icons-png.flaticon.com/512/10122/10122827.png" alt="">
                <p class="val-head">Innovation</p>
                <p class="val-desc">We are constantly seeking new and innovative ways to reduce carbon emissions and promote sustainable practices.</p>
            </div>
        </div>
    </div>
    <p class="team-head">Meet Our Team</p>
    <div class="team">
         <div class="nesh">
            <img src="../../../assets/images/nesh.jpg" alt="">
           <h2>Munene Brian</h2> 
           <h3>CEO & Co-Founder</h3>
           <a href="https://www.linkedin.com/in/brian-munene-njeru" target="_blank"><i class="fa-sharp fa-solid fa-link"></i>LinkedIn</a>
         </div>
         <div class="nesh">
            <img src="../../../assets/images/ayub.jpg" alt="">
            <h2>Job Karani</h2> 
            <h3>CTO & Co-Founder</h3>
            <a href="https://www.linkedin.com/in/job-nyambura/" target="_blank"><i class="fa-sharp fa-solid fa-link"></i>LinkedIn</a>
         </div>
    </div>
    <div class="all">
        <h2>Our Partners</h2>
        <div class="images">
            <img src="https://www.jacobsladder.africa/img/logo.png" alt="">
        </div>
    </div>
    <app-footer></app-footer>
</div>