.container-full{
z-index: 99;
width: 100%;
}
app-navbar{
z-index: 99;
}
.cover-image{
     background-image: url("https://img.freepik.com/premium-photo/glass-globe-ball-with-tree-growing-green-nature-blur-background-eco-earth-day-concept_34152-3373.jpg?w=996");
     background-size: cover;
}

.content{
    background: rgb(7, 7, 32, .7);
    height: 90vh;
}
.content h1{
    color: #fff;
    width: 30%;
    margin-left: 20%;
    padding-top: 8%;
    padding-bottom: 30px;
    font-size: 60px;
    font-family: CooperLtBT-Regular, Helvetica, sans-serif;
    line-height: 79.8px;
}
.content button{
    margin-left: 20%;
    border: none;
    margin-bottom: 50px;
}
.btn-2{
    padding: 10px 30px;
    color: rgb(17, 66, 17);
    border-radius: 7px;
    font-size: 20px;
}
.descript-1{
   padding-top: 100px;
   padding-bottom: 30px;
   text-align:center;
   color: rgb(17, 66, 17);
}

.des{
    padding-bottom: 50px ;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.all{
    display: flex;
    padding: 0 10%;
    padding-bottom: 50px;
}

.one{
    text-align: center;
    width: 60%;
    padding: 10px 30px;
}

.one img{
    height: 22vh;
    width: 10vw;
}
.one h3{
    padding: 10px 0;
}
.one h4{
    color: grey;
}