<div class="container-full">
    <div class="cont">
        <app-navbar></app-navbar>
    </div>

    <div class="cover-image">
        <div class="content">
            <h1> Technology Platform for High-Quality Carbon Credits</h1>
            <a class="btn-2">Buy Carbon Credits <i class="fa-solid fa-arrow-right"></i> </a>
        </div>
    </div>

<div class="descript-1">
    <h1>WHAT WE DO</h1>
</div>

<div class="des">
    <h2>Securely connect any bank account to track the carbon footprint of everything you buy.</h2>
</div>


<div class="all">
    <div class="one">
    <img src="https://cdn-icons-png.flaticon.com/512/9635/9635479.png">
        <h3>TRACK</h3>
        <h4>your carbon footprint</h4>
        <h5>Securely connect your bank to track the carbon footprint of your purchases</h5>
    </div>
    <div class="one">
        <img src="https://cdn-icons-png.flaticon.com/512/3058/3058922.png">
        <h3>REDUCE</h3>
        <h4>your emissions</h4>
        <h5>With personalised carbon coaching to reduce your emissions.</h5>
    </div>
    <div class="one">
        <img src="https://cdn-icons-png.flaticon.com/512/9421/9421314.png">
        <h3>OFFSET</h3>
        <h4>your footprint</h4>
        <h5>Donate to verified carbon offset projects with our app to become carbon neutral.</h5>
    </div>
</div>
