<div class="container-full">
    <div class="cont">
        <app-navbar></app-navbar>
    </div>

    <div class="cover-image">
        <div class="content">
            <h1> Technology Platform for High-Quality Carbon Credits</h1>
            <button class="btn-2">Buy Carbon Credits</button>
        </div>
    </div>

<div class="descript-1">
    <h1>WHAT WE DO</h1>
  </div>
</div>

<div class="des">
    <h2>Securely connect any bank account to track the carbon footprint of everything you buy.</h2>
</div>

<div class="all">
    <div>
    <img src="https://img.freepik.com/free-photo/note-with-chart-economy-decreasing_23-2148543166.jpg?w=360&t=st=1679231786~exp=1679232386~hmac=4dffb1aa9400684958e439375555683d71d5578438f492c4e2ed8064df6fd1a3">
        <h3>TRACK</h3>
    </div>
    <div class="1">
        <img src="https://img.freepik.com/free-photo/view-green-forest-trees-with-co2_23-2149675040.jpg?size=338&ext=jpg">
        <h3>REDUCE</h3>
    </div>
    <div class="1">
        <img src="https://img.freepik.com/free-photo/note-with-chart-economy-decreasing_23-2148543166.jpg?w=360&t=st=1679231786~exp=1679232386~hmac=4dffb1aa9400684958e439375555683d71d5578438f492c4e2ed8064df6fd1a3">
        <h3>OFFSET</h3>
    </div>
</div>
