/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body,html{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

.blue-snackbar {
  --mdc-snackbar-container-color: rgb(173, 255, 47);
  --mat-mdc-snack-bar-button-color: rgb(7, 7, 32);
  --mdc-snackbar-supporting-text-color: rgb(7, 7, 32);
}
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */