.thankyou-wrapper{
    width:100%;
    padding:50px;
}

.thankyou-wrapper img{
    margin-left: 20%;
}

.thankyou-wrapper p{
  font-size:30px;
  text-align:center;
  color:rgb(7, 7, 32);
  padding:20px 10px;
}
.thankyou-wrapper a{
  font-size:16px;
  text-align:center;
  color:#ffffff;
  display:block;
  text-decoration:none;
  background:rgb(7, 7, 32);
  margin: 5% 40% 0 40%;
  padding:15px 15px;
  border: 1px solid #fff;
  border-radius: 2px;
}
.thankyou-wrapper a:hover{
  font-size:16px;
  text-align:center;
  color:rgb(7, 7, 32);
  display:block;
  text-decoration:none;
  background: transparent;
  margin: 5% 40% 0 40%;
  padding:15px 15px;
  border: 1px solid rgb(7, 7, 32);
  border-radius: 2px;
}

@media only screen and (max-width: 850px) {
    .thankyou-wrapper img{
        margin-left: 2%;
    }
}

@media only screen and (max-width: 500px) {
    .thankyou-wrapper img{
        margin-left: 15%;
        width: 70%;
    }

    .thankyou-wrapper p{
        font:14px Arial, Helvetica, sans-serif;
      }

      .thankyou-wrapper a{
        font:13px Arial, Helvetica, sans-serif;
        margin:10px 20%;
      }
      .thankyou-wrapper a:hover{
        font:13px Arial, Helvetica, sans-serif;
        margin:10px 20%;
      }
    }