<app-navbar></app-navbar>
<section class="login-main-wrapper">
    <div class="main-container">
        <div class="login-process">
            <div class="login-main-container">
                <div class="thankyou-wrapper">
                      <p class="text-p">Thank you for reaching out, we will get in touch with you soon!!! </p>
                      <a routerLink="/home">Back to home</a>
                      <div class="clr"></div>
                  </div>
                  <div class="clr"></div>
              </div>
          </div>
          <div class="clr"></div>
      </div>
  </section>
<app-footer></app-footer>