<footer class="footer-section">
    <div class="container">
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a logo routerLink="#">Rafiki<span>Carbon</span></a>
                        </div>
                        <div class="footer-text">
                            <p>Promotion of quality, equity, and marketing of differentiated African carbon credits to both African and global buyers across African markets.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter facebook-bg"></i></a>
                            <a href="https://www.instagram.com/rafikiafricacarbonmarket/" target="_blank"><i class="fab fa-instagram facebook-bg"></i></a>
                            <a href="https://linkedIn.com/" target="_blank"><i class="fab fa-linkedin facebook-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a routerLink="/home">Home</a></li>
                            <li><a routerLink="/about">About</a></li>
                            <li><a routerLink="/shop">Product</a></li>
                            <li><a routerLink="/experience">Marketplace</a></li>
                            <li><a routerLink="/flavours">Carbon Projects</a></li>
                            <li><a routerLink="/blogs">For Buyers</a></li>
                            <li><a routerLink="/gallery">For Project developers</a></li>
                            <li><a routerLink="/enquire">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don't miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i class="fab fa-telegram-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>All Rights Reserved | Copyright &copy; 2023 </p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a routerLink="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a routerLink="#">Enquire</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
